.header {
    width: 100%;
    height: 4.948vw;
    background: linear-gradient(to right, #2c5364, #000000, #2c5364 35%, #000000,#2c5364);
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .container-header {
    width: 100%;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
  }
  
  .title {
    font-size: 1.458vw;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background: none;
  }
  
  .navigation{
    background: none;
    display: flex;
    gap: 2.083vw;
  }
  
  .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size:  1.458vw;
    transition: color 0.3s ease, 0.3s ease;
    position: relative;
    background: none;
  }
  
  .pc a::after {
    content: '';
    display: flex;
    height: 0.150vw;
    width: 0%;
    background-color: #ffcc00;
    transition: 0.5s ease;
    position: absolute;
  }
  
  .navigation a:hover {
    color: #ffcc00;
  }
  
  .navigation a:hover::after {
    width: 100%;
  }

  .mb{
    display: none;
  }

  .logo-img{
    width: 9.028vw;
    height: 9.028vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }

  .logo-img:active {
    transform: scale(1.2);
  }

  .logo{
    width: 9.028vw;
    height: 9.028vw;
    background: white;
    padding: 1.389vw;
    border-radius: 25%;
  }

  .logo:active {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .header {
      top: auto;
      bottom: 0;
      height: 15vw;
      width: 86.111vw;
      background: linear-gradient(to right, #2c5364,#000000, #2c5364, #000000, #2c5364);
      margin: 0 7%;
      margin-bottom: 3vw;
      border-radius: 5vw;
      padding: 0vw 13vw;
      box-shadow: 0 0 20px #4ecdc4, 0 0 40px #349090;
      animation: glow-border 1.5s infinite alternate;
    }

    @keyframes glow-border {
      0% {
        box-shadow: 0 0 20px #4ecdc4, 0 0 40px #349090;
      }
      100% {
        box-shadow: 0 0 40px #4ecdc4, 0 0 60px #349090;
      }
    }
    
    .pc{
      display: none;
    }
    
    .mb{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  