.home{
    height: 100vh;
    max-height: 100vh;
    padding: 4vw 5vw 4vw 5vw;
    color: white;    
}

.content-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title1-home{
    font-size: 3vw;
}

.title2-home{
    font-size: 5vw;
}

.title3-home{
    font-size: 3vw;
    margin-bottom: 3.5vw;
}

.description-home{
    font-size: 2vw;
}

.img-contact-home{
    width: 3vw;
    height: 3vw;
}

.logo-img-home{
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.content-icon-home-whatsapp,
.content-icon-home-instagram,
.content-icon-home-tiktok,
.content-icon-home-email,
.content-icon-home-github{
    width: 5vw;
    height: 5vw;
    border: 0.156vw solid #70f0fe;
    padding: 1.042vw;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 4vw;
    cursor: pointer;
}

.content-contact-home{
    display: flex;
    gap: 1.5vw;
    margin-top: 4vw;
}

.content-icon-home-whatsapp:hover{
    box-shadow: 0 0 0.781vw #25D366, 0 0 1.563vw #25D366;
    transform: scale(1.2);
}

.content-icon-home-instagram:hover{
    box-shadow: 0 0 0.781vw #E1306C, 0 0 1.563vw #E1306C;
    transform: scale(1.2);
}

.content-icon-home-tiktok:hover{
    box-shadow: 0 0 10.781vw #000000, 0 0 1.563vw #69c9d0;
    transform: scale(1.2);
}

.content-icon-home-email:hover{
    box-shadow: 0 0 0.781vw #70f0fe, 0 0 1.563vw #ea4335;
    transform: scale(1.2);
}

.content-icon-home-github:hover{
    box-shadow: 0 0 0.781vw #70f0fe, 0 0 1.563vw   #6e40c9;
    transform: scale(1.2);
}

.btn-home:hover {
    transform: scale(1.05);
    background-color: #0fd2e5;
    box-shadow: 0 0 1.042vw #70f0fe, 0 0 1.563vw #70f0fe, 0 0 2.083vw #70f0fe;
    color: #ffffff;
}

.content-left-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-home{
    border: 0.156vw solid #70f0fe;
    padding: 1.042vw 2.083vw;
    border-radius: 0.625vw;
    color: #70f0fe;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.4s ease, box-shadow 0.4s ease;
    text-decoration: none;
    background-color: #70f0fe;
    color: black;
    font-weight: 700;
}

.content-btn-home{
    display: flex;
    justify-content: start;
}

.img-home{
    width: 35vw;
    height: 35vw;
    display: flex;
    filter: drop-shadow(0 0 0.781vw #70f0fe);
    transition: all 0.4s ease;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .img-home{
        width: 70vw;
        height: 70vw;
    }

    .content-home{
        flex-direction: column-reverse;
        gap: 7vw;
    }

    .content-left-home{
        width: 100%;
    }

    .title1-home{
        font-size: 8vw;
    }

    .title2-home{
        font-size: 11vw;
    }

    .title3-home{
        font-size: 6vw;
        margin-bottom: 5vw;
    }

    .description-home{
        font-size: 5vw;
    }

    .content-contact-home{
        gap: 4vw;
    }

    .logo-img-home{
        width: 13vw;
        height: 13vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    .img-contact-home{
        width: 8vw;
        height: 8vw;
    }
    
    .content-icon-home-whatsapp,
    .content-icon-home-instagram,
    .content-icon-home-tiktok,
    .content-icon-home-email,
    .content-icon-home-github{
        width: 15vw;
        height: 15vw;
        border: 0.156vw solid #70f0fe;
        padding: 1.042vw;
        display: flex; 
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 4vw;
        cursor: pointer;
    }

    .content-contact-home{
        justify-content: space-around;
        margin-top: 5vw;
    }

    .btn-home{
        border: 0.156vw solid #70f0fe;
        padding: 5vw 5vw;
        border-radius: 5vw;
        color: #70f0fe;
        font-size: 7vw;
        cursor: pointer;
        transition: all 0.4s ease, box-shadow 0.4s ease;
        text-decoration: none;
        background-color: #70f0fe;
        color: black;
        font-weight: 700;
    }

    .content-btn-home{
        display: flex;
        justify-content: center;
        margin-top: 3vw;
    }
}